
.contact{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
}
.card {
    overflow: hidden;
    box-shadow: gray 5px 4px 9px 0px;
    width: calc(30% - 30px);
    margin-left: 20px;
    text-align: center;
    color: black;
}
.contact ul{
    padding-top: 20%;
}

