.footer{
    background-color: rgb(190, 44, 44);
    color: rgb(240, 232, 232);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
